---
layout: main
permalink: table
title: "À table!"
images:
  - ligne:
    - img: "/assets/images/ROSETTE_N1__2.jpg"
      alt: "belle assiette"
    - img: "/assets/images/ROSETTE_N1__5.jpg"
      alt: "belle assiette"
    - img: "/assets/images/ROSETTE_N1__7.jpg"
      alt: "belle assiette"
  - ligne:
    - img: "/assets/images/ROSETTE_N1__8.jpg"
      alt: "belle assiette"
    - img: "/assets/images/ROSETTE_N1__11.jpg"
      alt: "belle assiette"
    - img: "/assets/images/ROSETTE_N1__20.jpg"
      alt: "belle assiette"
---
<section id="table">
    <h1>Chez Rosette</h1>
    <h2>« Au travail on fait ce qu'on peut mais à table on se force. » – Proverbe Lyonnais.<br>
    Rosette, une cuisine de saison, sourcée avec (évidemment!) beaucoup d'amour.</h2>
    {% for line in page.images %}
    <div class="image-row">
      {% for item in line.ligne %}
      <img alt="{{ item.alt }}"src="{{ item.img }}"></img>
      {% endfor %}
    </div>
    {% endfor %}
</section>