---
layout: main
permalink: table
title: "À table!"
description: "Que mangent-on chez Rosette, venez découvrir une cuisine francaise sourcée et de saison."
images:
  - ligne:
    - img: "/assets/images/ROSETTE_OPENING_LIFESTYLE_112.webp"
      alt: "belle assiette"
    - img: "/assets/images/ROSETTE_OPENING_LIFESTYLE_116.webp"
      alt: "Decouvrez nos produits"
    - img: "/assets/images/ROSETTE_OPENING_LIFESTYLE_117.webp"
      alt: "belle assiette"
  - ligne:
    - img: "/assets/images/ROSETTE_OPENING_LIFESTYLE_118.webp"
      alt: "belle assiette"
    - img: "/assets/images/ROSETTE_OPENING_LIFESTYLE_119.webp"
      alt: "belle assiette"
    - img: "/assets/images/ROSETTE_OPENING_LIFESTYLE_121.webp"
      alt: "belle assiette"
  - ligne:
    - img: "/assets/images/ROSETTE_OPENING_LIFESTYLE_122.webp"
      alt: "belle assiette"
    - img: "/assets/images/ROSETTE_OPENING_LIFESTYLE_123.webp"
      alt: "belle assiette"
    - img: "/assets/images/ROSETTE_OPENING_LIFESTYLE_138.webp"
      alt: "belle assiette"
  - ligne:
    - img: "/assets/images/ROSETTE_OPENING_LIFESTYLE_182.webp"
      alt: "belle assiette"
    - img: "/assets/images/ROSETTE_OPENING_LIFESTYLE_110.webp"
      alt: "belle assiette"
    - img: "/assets/images/ROSETTE_OPENING_LIFESTYLE_137.webp"
      alt: "belle assiette"
---
<section id="table">
    <h1>Chez Rosette</h1>
    <h2>« Au travail on fait ce qu'on peut mais à table on se force. » – Proverbe Lyonnais.<br>
    Rosette, une cuisine de saison, sourcée avec (évidemment!) beaucoup d'amour.</h2>
    {% for line in page.images %}
    <div class="image-row">
      {% for item in line.ligne %}
      <img alt="{{ item.alt }}"src="{{ item.img }}"></img>
      {% endfor %}
    </div>
    {% endfor %}
</section>