<section id="menu">
    <h1>Rosette</h1>
    <h2>Semaine du 15 Mai 2023</h2>
    <header>
        <h3>À la carte de Rosette</h3>
        <em>ou</em>
        <h3>« Retour du marché »</h3>
        <table>
            {% for menu in site.data.menu_soir.menus %}
            <tr>
                <td>{{ menu.titre }}</td>
                <td>{{ menu.prix }}</td>
            </tr>
            {% endfor %}
        </table>
    </header>
    <main>
        {% for part in site.data.menu_soir.temps %}
        <div>
            <h2>{{ part.section[0].titre }}:</h2>
            <table>
                {% for p in part.section[0].plats %}
                <tr>
                    <td>{{ p.titre }}</td>
                    <td>{{ p.prix }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
    </main>
    <footer>
        Tous nos produits sont issus de l’agriculture biologique ou raisonnée. Toutes nos viandes sont françaises. 
    </footer>
</section>