<dialog id="menu">
    <header>
        <button id="button-close-menu">X</button>
        <nav>
            <button id="button-show-midi">Midi</button>
            <button id="button-show-soir">Soir</button>
            <button id="button-show-carte">À la carte</button>
        </nav>
    </header>
    {% include menu_soir.html %}
    {% include menu_midi.html %}
    {% include menu_carte.html %}
</dialog>
<script>
const dialog = document.getElementById('menu');
const soir = document.getElementById("button-show-soir");
const midi = document.getElementById("button-show-midi");
const carte = document.getElementById("button-show-carte");
const close = document.getElementById("button-close-menu");

const menu_soir = document.getElementById("menu-soir");
const menu_midi = document.getElementById("menu-midi");
const menu_carte = document.getElementById("menu-carte");

menu_carte.classList.remove('hide')
menu_soir.classList.add('hide')
menu_midi.classList.add('hide')

close.addEventListener('click', ()=>{closeModal(dialog)})

soir.addEventListener('click', ()=> {
    menu_midi.classList.add('hide')
    menu_carte.classList.add('hide')
    menu_soir.classList.remove('hide')
});

midi.addEventListener('click', ()=> {
    menu_soir.classList.add('hide')
    menu_carte.classList.add('hide')
    menu_midi.classList.remove('hide')
});

carte.addEventListener('click', ()=> {
    menu_soir.classList.add('hide')
    menu_midi.classList.add('hide')
    menu_carte.classList.remove('hide')
});

</script>