<nav id="main-menu">
    <ul>
        <li><a id="rosette-menu" href="{{ site.baseurl }}/">Rosette</a></li>
        {% for item in site.data.navigation.nav %}
            <li class="{% if item.url == page.url %}active{% else %}inactive{% endif %}">
            <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
        {% endfor %}
        <button onclick="showmenu()" class="calltoaction">Menu</button>
    </ul>
</nav>
<div class="nav-container">
    <input type="checkbox" id="hamburger-input"/>

    <label id="hamburger-menu" for="hamburger-input">
    <nav id="sidebar-menu">
            <h3>Menu</h3>
            <ul>
                <li><a href="{{ site.baseurl }}/">Rosette</a></li>
                {% for item in site.data.navigation.nav %}
                    <li class="{% if item.url == page.url %}active{% else %}inactive{% endif %}">
                    <a href="{{ item.url }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
                <li class="social-container">
                    <a target="_blank" href="{{ site.instagram_url }}"><i class="fa-brands fa-instagram"></i></a> 
                    <a target="_blank" href="{{ site.facebook_url }}"><i class="fa-brands fa-facebook"></i></a>
                </li>
            </ul>
        </nav>
    </label>
    <a id="rosette">Rosette</a>
    <button onclick="showmenu()" class="calltoaction">Menu</button>
</div>

<div class="overlay"></div>
<script>
function showmenu() {
    const modal = document.querySelector("#menu");
    modal.addEventListener('click', (event) => {
        var rect = modal.getBoundingClientRect();
        var isInDialog=(rect.top <= event.clientY && event.clientY <= rect.top + rect.height
          && rect.left <= event.clientX && event.clientX <= rect.left + rect.width);
        if (!isInDialog) {
            modal.close();
        }
    })
    modal.showModal();
}


</script>