<nav id="main-menu">
    <ul>
        <li><a id="rosette-menu" href="#rosette-landing">Rosette</a></li>
        <li><a href="#description">Qui sommes-nous?</a></li>
        <li><a href="#table">La table</a></li>
        <li><a href="#">Les vins</a></li>
        <li><a href="#">L'adresse</a></li>
        <li><a href="#">Ils nous ont aidés</a></li>
    </ul>
</nav>

<div class="nav-container">
    <input type="checkbox" id="hamburger-input" class="burger-shower" />

    <label id="hamburger-menu" for="hamburger-input">
    <nav id="sidebar-menu">
            <h3>Menu</h3>
            <ul>
                <li><a href="#rosette-landing">Rosette</a></li>
                <li><a href="#description">Qui sommes-nous?</a></li>
                <li><a href="#table">La table</a></li>
                <li><a href="#">Les vins</a></li>
                <li><a href="#">L'adresse</a></li>
                <li><a href="#">Ils nous ont aidés</a></li>
            </ul>
        </nav>
    </label>
    <a id="rosette">Rosette</a>
</div>

<div class="overlay"></div>