#menu {
    position: fixed;
    z-index: 3;
    background-color: #fffcf6;
    width: 60vw;
    align-self: center;
    transition: all 1s ease-in-out;
    border: none;
}

.hide {
    display: none!important;
}

#menu button {
    border: none;
    background-color: transparent;
    align-self: flex-end;
    padding-left: 1rem;
    padding-right: 1rem;
}

#menu button:hover {
    text-decoration: underline;
}

#menu nav {
    align-self: center;
}

#menu header {
    display: flex;
    flex-direction: column;
}

.menu-content {
    display: flex;
    flex-direction: column;
}

#menu::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

.menu-content h1 {
    font-family: "Authoritative";
    font-size: 6rem;
    color: #6b1e24;
    margin-bottom: 0px;
}

.menu-content h2 {
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 2rem;
}

.menu-content main h2 {
    text-align: start;
    margin-top: 2rem;
}

.menu-content h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.menu-content td:nth-child(2n+1) {
    padding-right: 3rem;
    flex: 1;

}

.menu-content main table {
    width: 100%
}

.menu-content header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-content main tr {
    display: flex;
}

.menu-content main {
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    margin-left: 10vw;
}

.menu-content footer {
    margin: 2rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
}

.menu-content main h2 {
    text-decoration: underline;
    align-self: start;
}



@media screen and (max-width: 1500px) {
#menu {
    width: 100vw;
}
}