.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s, height 0.5s;
    overflow: hidden;
    z-index: -1;
}

#main-menu {
    background-color: #fffcf6;
    padding-left: 5rem;
    padding-right: 5rem;
    position: sticky;
    top: 0;    
}

.menu-open {
    display: n;
}

#main-menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 9;
    padding: 0;
    margin: 0;
}

#main-menu li {
    list-style-type: none;
    font-size: 0.7rem;
}

#main-menu li:nth-child(1) a {
    font-size: 4rem;
    padding-left:0rem;
}

#main-menu a:hover {
    text-decoration: underline;
}

.active a {
    color: #6b1e2488;
    text-decoration: underline;
}

.inactive a {
    color:#6b1e24;
}

#main-menu li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
    padding-left: 2rem;
}

#rosette {
    display: none;
    font-family: "Authoritative";
    font-size: 2.5rem;
    padding-right: 2.5rem;
    text-align: center;
    flex: 1;
    align-self: center;
    color: #6b1e24;
    font-weight: 600;
}

#rosette-menu {
    font-family: "Authoritative";
    font-size: 4rem;
    color: #6b1e24;

}

#sidebar-menu ul {
    padding-left: 1rem;
    padding-right: 1rem;
}

#sidebar-menu ul li a {
    text-decoration: none;
    color: #fffcf6;
    padding: 1rem;
    font-weight: 600;
}

#sidebar-menu h3 {
    color: #fffcf6;
    font-weight: 900;
}

#hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    display: none;
    border: none;
    z-index: 5;
    padding: 0px;
    margin: 1rem;
    background: linear-gradient(
      to bottom, 
      #6b1e24, #6b1e24 20%, 
      #fffcf6 20%, #fffcf6 40%, 
      #6b1e24 40%, #6b1e24 60%, 
      #fffcf6 60%, #fffcf6 80%, 
      #6b1e24 80%, #6b1e24 100%
    );
}

#hamburger-input{
    display: none;
}

#hamburger-menu #sidebar-menu {
    /* visibility: hidden; */
    position: fixed;
    width: 20rem;
    top: 0;
    left: -20rem;
    transition: left 0.5s;
    height: 100%;
    background-color: #6b1e24;
    padding: 0px 10px;
    box-sizing: border-box;
}

.social-container {
    text-align: center;
    padding: 1rem;
}

#hamburger-menu li {
    list-style-type: none;
    line-height: 3rem; 
}

#hamburger-menu a {
    font-size: 1.3rem;
    text-decoration: none;
}

#hamburger-menu a:hover {
    text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
   opacity: 0.4;
}

.nav-container {
    display: none;
}

.calltoaction {
    background: #6b1e24;
    color: #fffcf6;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 2rem;
    text-align: center;
}

.calltoaction:hover {
    background: #fffcf6;
    color: #6b1e24;

    border: solid 2px #6b1e24;
}

@media screen and (max-width: 80rem) {
    #rosette {
        display: initial;
    }
    #main-menu {
        display: none;
    }
    #hamburger-menu {
        display: flex;
    }

    .nav-container {
        display: flex;
        visibility: visible;
    }
    .calltoaction {
        align-self: center;
        margin-right: 1rem;
    }
}