@font-face {
    font-family: 'Authoritative';
    src: url("../fonts/Authoritative.otf");
}

@font-face {
    font-family: 'Century';
    src: url("../fonts/Century.ttf")
}

body {
    justify-content: space-between;
    font-family: 'Century';
    background: #fffcf6;
    color: #6b1e24;
    height: 100vh;
    margin:0px;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 1rem;
    text-align: center;
    font-size: 1.6rem;
    text-align: center;
    font-weight: bolder;
}

h2 {
    text-align: center;
    font-weight: lighter;
    font-size: 1.4rem;
    padding-bottom: 3rem;
}

section {
    flex: 1;
}

@media screen and (max-width: 80rem) {
}
  