#table {
    padding-top: 7rem;
}

#table img {
    height: 25rem;
    width: 20rem;
    object-fit: cover;
    padding: 1.4rem;
}

.image-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 1500px) {
    .image-row {
        align-items: center;
        flex-direction: column;
    }
    #table {
        padding-top: 2rem;
    }
}