<article class="description-container">
    {% if page.reversed == "True" %}
        <div class="description-row reversed">
            <img class="description-img" src='{{ page.image }}' alt='{{ page.image-alt-text }}'></img>
            <span>
                {{ content }}
            </span>
        </div>
    {% else %}
        <div class="description-row">
            <img class="description-img" src='{{ page.image }}' alt='{{ page.image-alt-text }}'></img>
            <span>
                {{ content }}
            </span>
        </div>
    {% endif %}
</article>