<section id="table">
    <article>
        <div class="titlebox">
            <h2>{{ page.title }}</h2>
            {{ content }}
        </div>
        <img class="table-img" src="{{ page.image }}" alt="{{ page.image-alt-text }}"></img>
    </article>
    <article>
        <div class="textbox">
            <a href="{{ page.lien-drive-midi }}">Menu Dejeuner<i class="fa-brands fa-google-drive"></i></a>
            <a href="{{ page.lien-drive-soir }}">Menu du Soir<i class="fa-brands fa-google-drive"></i></a>
        </div>
    </article>
</section>